/* .ng-valid{
    border-color: red;
}
.error-black{
    color: red;
}
.valid-input {
    border-color: green;
  }

  .invalid-input{
    border-color: red;
  } */
  .photo-control {
    min-height: 300px;
    vertical-align: middle;
    text-align: center;
    border: 1px dashed blue;
    margin: 5px;
  }